# Pandas library - storing and manipulating data in "dataframes" (tables)

### Introduction to Pandas
Pandas is a Python package providing fast, flexible, and expressive data structures designed to work with relational or labeled data both.Think of Pandas as a Python version of Excel

It is a fundamental high-level building block for doing practical, real world data analysis in Python.Pandas is well suited for:

pandas is well suited for:

* Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
* Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

In [2]:
import pandas as pd

### Reading from CSV file into dataframe

A DataFrame is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the DataFrame allows us to represent and manipulate higher-dimensional data.

In [3]:
cities = pd.read_csv('data/Cities.csv')

In [8]:
# List all the columns in the DataFrame
cities.columns

Index(['city', 'country', 'latitude', 'longitude', 'temperature'], dtype='object')

In [7]:
# We can use the len function again here to see how many columns there are in the dataframe: 213
len(cities)

213

In [6]:
# Let view the first few rows 
cities.head()

       city         country  latitude  longitude  temperature
0   Aalborg         Denmark     57.03       9.92         7.52
1  Aberdeen  United Kingdom     57.17      -2.08         8.10
2    Abisko          Sweden     63.35      18.83         0.20
3     Adana          Turkey     36.99      35.32        18.67
4  Albacete           Spain     39.00      -1.87        12.62

Notice that read_csv automatically considered the first row in the file to be a header row.
We can override default behavior by customizing some the arguments, like header, names or index_col.

In [5]:
# View Last 10 rows
cities.tail(10)

            city      country  latitude  longitude  temperature
203       Vienna      Austria     48.20      16.37         7.86
204         Vigo        Spain     42.22      -8.73        12.85
205      Vilnius    Lithuania     54.68      25.32         5.38
206       Warsaw       Poland     52.25      21.00         7.20
207      Wroclaw       Poland     51.11      17.03         7.17
208  Yevpatoriya      Ukraine     45.20      33.36        10.02
209     Zaragoza        Spain     41.65      -0.89        14.17
210     Zhytomyr      Ukraine     50.25      28.66         6.67
211    Zonguldak       Turkey     41.43      31.78        10.64
212       Zurich  Switzerland     47.38       8.56         6.68

We can also inspect the format for our columns. We can see that some are integers, some are 'float' (can have a decimal), and some are 'objects' (text). If you have a identifying text variable that has accidentally been imported as a float, for instance, that could cause problems down the road, so you should fix it before continuing.

In [9]:
cities.dtypes

city            object
country         object
latitude       float64
longitude      float64
temperature    float64
dtype: object

### Adding column
Let us another column that we take temperature in Farenheight

In [10]:
cities['tempF']=cities['temperature']*9/5+32

In [ ]:
cities.head()

### <font color="green">Your Turn</font>

In [ ]:
## Try to add another column that convert the temperature in F back to centigrades and name it tempC

### Dropping Column
 Suppose we want to delete the tempF column

In [ ]:
cities.drop('tempF', axis=1, inplace=True)
cities.head()

### Note:
 1. axis=1 denotes that we are referring to a column, not a row
 2. inplace=True means that the changes are saved to the df right away

### <font color="green">Your Turn</font>

In [ ]:
# Drop the tempC column you created before

### Slicing Subsets of Rows and Columns in Python

In [ ]:
# Selecting a single column - returns a 'series'
cities.city
# Also show cities['temperature']

In [ ]:
# Selecting multiple columns - returns a dataframe
cities[['city','temperature']]

In [ ]:
# Selecting rows by number
cities[15:20]
# Show cities[:8] and cities[200:]

### Position Based Selection of columns and lows
Now, sometimes, you don’t have row or column labels. In such case you will have to rely on position based indexing implemented with iloc instead of loc: 
>.loc for label-based indexing

>.iloc for positional indexing

In [ ]:
# And here is how to slice a column:
cities.loc[: , "temperature"]

# cities.iloc[:,4] # postion indexing

In [ ]:
# To extract only a row you would do the inverse:
cities.iloc[4,:]

In [ ]:
## Select first four rows(including header) and first three column (including SN)
cities.iloc[0:3,0:2]

In [ ]:
# Select only the first two column
cities.iloc[:,0:2]

In [ ]:
# Select Countries and temperature
cities.iloc[:,[1, 4]]

### <font color="green">Your Turn</font>

* What happens when you type the code below?
> ```python
     cities.loc[[0, 10, 200], :]
  ```

* What happens when you type
> ```python
    cities.iloc[0:4, 1:4]
    cities.loc[0:4, 1:4]
  ```
 How are the two commands different?
 
 
* What happens when you type:
> 
```python
          cities[0:3]
          cities[:5]
          cities[-1:] 
```

## Subsetting Data Using Criteria
We can also select a subset of our data using criteria. For example, we can select all rows that have temprature higher than 15.

In [ ]:
cities[cities.temperature > 15]

In [ ]:
# All rows with langitude < 0
cities[cities.longitude < 0]

In [ ]:
# Select are data which are in france
cities[cities.country == 'Spain']

In [ ]:
# String operations - countries with 'ia' in their name
cities[cities.country.str.contains('ia')]

## Sort Data in Pandas

In [ ]:
# Sort the dataframe's rows by latitude, in descending order
cities.sort_values(by='latitude', ascending=0)

In [ ]:
# Sorting by country and then by  temperature descending
cities.sort_values(by=['country','temperature'],ascending=[True,False])

In [ ]:
# Putting it together: selecting rows, selecting columns, sorting:
# City and longitude of all cities with latitude > 50 and
# temperature > 9, sorted by longitude
temp1 = cities[(cities.latitude > 50) & (cities.temperature > 9)]
temp2 = temp1[['city','longitude']]
temp2.sort_values(by='longitude')
# Show combining first two, then combining all (use \ for long lines)
# Note similar functionality to SQL

### <font color="green">Your Turn</font>

In [ ]:
# Read the Countries.csv file into a dataframe
countries = pd.read_csv('data/Countries.csv')
countries.head()

In [ ]:
# Print a list of all countries that don't have coastline and
# are not in the EU, together with their highest points,
# sorted by highest point (smallest to largest).

## Calculating Statistics From Data
We can calculate basic statistics for all records in a single column using the syntax below:

In [ ]:
# We can also extract one specific metric if we wish:
cities.describe()

In [ ]:
cities['temperature'].mean()

However we often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average tempearture of all cities per countries. To accomplish this we  can use  **.groupby** method

In [ ]:
#summary statistics for all numeric columns
cities.groupby('country').describe()

In [ ]:
cities.groupby('country').mean()

In [ ]:
# Average temperature of cities in each country
cities.groupby('country').mean()[['temperature']]
# or with single brackets ['temperature'] or .temperature
# Also show without column selection

In [ ]:
# Average temperature of cities in France, computed two ways
french = cities[cities.country == 'France']
print ('Computed as sum/count:', sum(french['temperature'])/len(french['temperature']))

In [ ]:
print ('Computed as mean:', french['temperature'].mean())

### <font color="green">Your Turn</font>

In [ ]:
# Read the Players  data into dataframes

In [ ]:
# How many players played as goalkeeper?

In [ ]:
# Summarize the minutes played by each player's postion in your data.

#### Use Countries data

In [ ]:
# Find the average highest point of countries in the EU and not in the EU,
# then the average highest point of countries with and without coastline
# Note: When there's more than one "query" you only see the last result.
# Try using print
# Hint: You can use groupby!

## Combining DataFrames

In most cases the data that we want to analyse come in multiple files. We thus need to combine these files into a single DataFrame. The pandas package provides various methods for combining DataFrames including **merge** and **concat**. To do this we first need to load the required data files into pandas DataFrames.

In [ ]:
# merge countries and cities dataset
citiesext = cities.merge(countries, on='country')
citiesext.head()

In [ ]:
# Joining is symmetric
countriesext = countries.merge(cities, on='country')
countriesext.head()

### Writing Out Data to CSV

We can use the to_csv command to do export a DataFrame in CSV format. We can save it to a different folder by adding the foldername and a slash to the file **.to_csv('foldername/filename.csv')**.

In [ ]:
#Save the citiesext to harddisk
citiesext.to_csv('data/citiesext.csv')

In [ ]:
# Plotting
# import matplotlib
%matplotlib inline
cities.plot.scatter(x='latitude', y='temperature')

In [ ]:
# Add temp-fahrenheit column
cities['temp-fahrenheit'] = (cities.temperature * 9/5) + 32
cities

### <font color="green">Your Turn: World Cup data</font>

In [67]:
# Read the Players and Teams data into dataframes
players = pd.read_csv('data/Players.csv',index_col='UID')
teams = pd.read_csv('data/Teams.csv')

In [ ]:
# What player on a team with “ia” in the team name played less than
# 200 minutes and made more than 100 passes? Print the player surname.

In [ ]:
# What is the average number of passes made by defenders? By forwards?

In [ ]:
# Which team has the highest ratio of goalsFor to goalsAgainst?
# Print the team name only.
# Hint: Add a "ratio" column to the teams dataframe, then sort,
# then use head(1) or tail(1) depending how you sorted

In [ ]:
# How many players who play on a team with ranking <10 played
# more than 350 minutes?
# Reminder: len() gives number of rows i a dataframe

In [ ]:
# BONUS!
# Write a loop that interactively asks the user to enter a team name.
# If the team exists, list all of the players on that team
# (with all of their information), sorted by descending minutes played.
# If the team doesn't exist, print "Team not in 2010 World Cup".
# If 'quit' is entered, terminate the loop.
# Reminder: To read a string from the user instead of a number, use
# raw_input() instead of input()
# Note: To test if a value v is (not) in a column c of a dataframe D,
# use "v (not) in D['c'].values"

## Plotting and Visualization

There are a handful of third-party Python packages that are suitable for creating scientific plots and visualizations. These include packages like:

1. [Matplotlib](http://matplotlib.org/)
2. [Seaborn](http://seaborn.pydata.org/)
3. [Bokeh](http://bokeh.pydata.org/en/latest/)

Here, we will focus excelusively on matplotlib and the high-level plotting availabel within pandas.

### Pandas' builtin-plotting

Pandas have a **.plot** namespace, with various chart types available **(line, hist, scatter, etc.)**.

In [ ]:
# Load citiesext dataset
citiesext = pd.read_csv('data/citiesext.csv')
citiesext.head()

In [ ]:
#Line plot
citiesext.latitude.plot()

In [ ]:

%matplotlib inline
citiesext.groupby('EU').temperature.mean().plot(kind='bar' ,color=['green','red'])

In [ ]:
# Plot Scatter plot between latitude and temperature
citiesext.plot.scatter(x='temperature', y='latitude', c='b')

In [ ]:
# Histograms¶
citiesext.temperature.hist(grid=False)

There are algorithms for determining an "optimal" number of bins, each of which varies somehow with the number of observations in the data series.

In [ ]:
import numpy as np
sturges = lambda n: int(np.log2(n) + 1)
square_root = lambda n: int(np.sqrt(n))
from scipy.stats import kurtosis
doanes = lambda data: int(1 + np.log(len(data)) + np.log(1 + kurtosis(data) * (len(data) / 6.) ** 0.5))

n = len(citiesext)
sturges(n), square_root(n), doanes(citiesext.temperature)

In [ ]:
# Histograms¶
citiesext.temperature.hist(bins=doanes(citiesext.temperature),grid=False)

A density plot is similar to a histogram in that it describes the distribution of the underlying data, but rather than being a pure empirical representation, it is an estimate of the underlying "true" distribution. As a result, it is smoothed into a continuous line plot. We create them in Pandas using the plot method with kind='kde', where kde stands for kernel density estimate.

In [ ]:
citiesext.temperature.plot(kind='kde', xlim=(-10,30))

Often, histograms and density plots are shown together:

In [ ]:
citiesext.temperature.hist(bins=doanes(citiesext.temperature), normed=True, color='lightseagreen')
citiesext.temperature.plot(kind='kde', xlim=(-5,25), style='r--')

Here, we had to normalize the histogram (normed=True), since the kernel density is normalized by definition (it is a probability distribution).

### Boxplots
A different way of visualizing the distribution of data is the boxplot, which is a display of common quantiles; these are typically the quartiles and the lower and upper 5 percent values.

In [ ]:
citiesext.boxplot(column='temperature', by='EU', grid=False)

You can think of the box plot as viewing the distribution from above. The white circles are "outlier" points that occur outside the extreme quantiles.

### <font color="green">Your Turn: World Cup data</font>

 Using the Teams and Players data:

In [71]:
# create kernel density estimate plots of the number of passes distributions for midfielder and defender.